<div *ngIf="people$ | async as people; else loading" class=" p-8 ">
  <h2>Star Wars Characters</h2>
  <ul class="people-list">
    <li *ngFor="let person of people" class=" person-item cursor-pointer hover:border " (click)="onCharacterClick(person.url)">
      <strong>{{ person.name }}</strong>
      <ul class="person-details">
        <li>Height: {{ person.height }}</li>
        <li>Mass: {{ person.mass }}</li>
        <li>Birth Year: {{ person.birth_year }}</li>
        <li>Gender: {{ person.gender }}</li>
      </ul>
    </li>
  </ul>
  <nz-pagination
    [nzPageIndex]="currentPage$ | async"
    [nzTotal]="totalItems$ | async"
    [nzPageSize]="10"
    (nzPageIndexChange)="onPageChange($event)"
  ></nz-pagination>
</div>
<ng-template #loading>Loading...</ng-template>
